.contact-title-block {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  gap: 75px;
  p {
    line-height: normal;
  }
}
.contact-title-block__image {
  border-radius: 20px;
  width: 623px;
  img {
    border-radius: 20px;
    max-width: 100%;
  }
}
.contact-title-block__info {
  width: 702px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    color: #274c5b;
    margin-bottom: 14px;
  }
  span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #525c60;
  }
}
.contact-title-block__info-for_contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 34px;
  margin-top: 34px;
}
.contact-title-block__info-for_contact-block {
  display: flex;
  gap: 19px;
  box-shadow: 0 12px 19px 0 rgba(201, 201, 201, 0.25);
  align-items: center;
  border: 1px solid #eee;
  border-radius: 16px;
  max-width: 352px;
  padding: 12px 46px 12px 12px;
}
.contact-title-block__info-for_contact-block-image {
  display: flex;
  background: #f4f4f4;
  border-radius: 11px;
  width: 89px;
  height: 89px;
  border-radius: 11px;
  img {
    max-width: 100%;
    padding: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
  }
}
.contact-title-block__info-for_contact-block-desc {
  p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    color: #274c5b;
  }
  span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #525c60;
  }
}
.contact-title-block__info-socials {
  display: flex;
  gap: 15px;
  a {
    border-radius: 100%;
    background: #eff6f1;
    padding: 21px;
    display: inline-flex;
  }
}
